body {
  font-family:'Open Sans';
  background:#222;
  color:#fff;
}
h1 {
  font-family:'Montserrat';
}
.site-canvas {
  position:relative;
}

.select-coins {
  margin:60px 5% 145px 5%;
  -webkit-transition:350ms ease-in-out;
  transition:350ms ease-in-out;
}
@media (min-width: 580px) {
  .select-coins {
    margin-bottom:75px;
  }
  .coins-selected .select-coins {
    margin-right:170px;
  }
}
@media (min-width: 900px) {
  .select-coins {
    margin:100px auto 75px;
    width:90%;
    max-width:740px;
  }
  .coins-selected .select-coins {
    margin-right:auto;
    -webkit-transform:translate3d(-70px,0,0);
            transform:translate3d(-70px,0,0);
  }
}
@media (min-width: 1080px) {
  .coins-selected .select-coins {
    margin-right:auto;
    -webkit-transform:translate3d(-50px,0,0);
            transform:translate3d(-50px,0,0);
  }
}
.select-coins_title,
.portfolio_title,
.site-error span {
  font-family:'Montserrat';
  font-size:1.4em;
  font-weight:700;
  max-width:300px;
  margin-bottom:30px;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 600px) {
  .select-coins_title,
  .portfolio_title,
  .site-error span {
    font-size:2.8em;
    max-width:600px;
    margin-bottom:60px;
  }
}
@media (min-width: 900px) {
  .select-coins_title,
  .portfolio_title,
  .site-error span {
    font-size:3.5em;
  }
}
.coin {
  margin:0 0 15px;
  padding:10px;
  font-size:0.7em;
  background:rgba(255,255,255,0.05);
  border:1px solid transparent;
  border-radius:6px;
  -webkit-transition:150ms ease-in-out;
  transition:150ms ease-in-out;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  cursor:pointer;
}
.coin:hover {
  background:rgba(255,255,255,0.1);
}
.coin.selected {
  border:1px dotted rgba(255,255,255,0.4);
  background:rgba(255,255,255,0.1);
}
@media (min-width: 580px) {
  .coin {
    padding:15px;
    font-size:1em;
  }
}
.select-coins .coin-title {
  padding:0 15px;
  background:none;
}
.coin_c {
  margin:0 15px 0 0;
  float:left;
}
.coin_details {
  float:right;
}
.coin_details .coin_c {
  position: relative;
  margin:0 0 0 15px;
  width:70px;
  float:right;
  text-align:right;
}
.coin_details .coin_c span {
  opacity: 0.5;
}
.convert_name {
  position:relative;
  display: inline-block;
}
@media (min-width: 580px) {
  .coin_details .coin_c  {
    width:110px;
  }
}

/* Convert */
.convert {
  user-select: none;
}
.convert_tooltip {
  position: absolute;
  margin: auto;
  left: -300px;
  right: -300px;
  bottom: 158%;
  width: 240px;
  height: 25px;
  line-height: 25px;
  font-size: 0.7em;
  text-align: center;
  border-radius: 4px;
  background: rgba(255,255,255,0.1);
  opacity: 0;
  transition: 150ms ease-in-out;
}
.convert.tooltip-view .convert_tooltip {
  opacity: 1;
}
.convert_tooltip:before {
  position: absolute;
  margin: auto;
  top: 100%;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: rgba(255,255,255,0.1);
  content: '';
}
.convert_name {
  cursor: pointer;
}

.convert_form {
  position: relative;
  margin: 10px auto 15px;
  width:100%;
  max-width: 740px;
  background: #333;
  border-radius: 4px;
  padding:10px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
  font-size: 0.8em;
  text-align: left;
  box-sizing: border-box;
  white-space:nowrap;
  overflow: auto;
}
@media (min-width:700px) {
  .convert_form {
    padding: 15px;
  }
}
.convert_form:before {
    position:absolute;
    margin:auto;
    bottom:100%;
    right:146px;
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color:#333333;
    content:'';
}

.convert_currency {
    margin: 3px;
    padding: 10px;
    background: #555;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}

/* Select Coin Next */

.select-coins-next {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  -webkit-transition:350ms ease-in-out;
  transition:350ms ease-in-out;
}
@media (min-width: 900px) {
  .coins-selected .select-coins-next {
    -webkit-transform:translate3d(-90px,0,0);
            transform:translate3d(-90px,0,0);
  }
}
@media (min-width: 1080px) {
  .coins-selected .select-coins-next {
    -webkit-transform:translate3d(-50px,0,0);
            transform:translate3d(-50px,0,0);
  }
}

.select-coins-next_center {
  position:relative;
  margin:auto;
  width:90%;
  max-width:740px;
}
.select-coins-next_box {
  position:fixed;
  right:0;
  bottom:0;
  width:100%;
  padding:0 15px;
  background:#222;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-transform:translate3d(0,20%,0);
          transform:translate3d(0,20%,0);
  -webkit-transition:350ms ease-in-out;
  transition:350ms ease-in-out;
  opacity:0;
}
@media (min-width: 580px) {
  .select-coins-next_box {
    margin:15px;
    padding:15px;
    width:auto;
    background:none;
  }
}
@media (min-width: 900px) {
  .select-coins-next_box {
    position:absolute;
    margin:40px;
    margin:40px;
    left:100%;
    right:auto;
    bottom:0;
  }
}
.select-coins-next_box.active {
  -webkit-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
  opacity:1;
}
.select-coins-next_coins {
  margin:0 0 10px;
  max-height: 80vh;
  overflow-x:hidden;
  overflow-y: auto;
  display:none;
}
@media (min-width: 580px) {
  .select-coins-next_coins {
    display:block;
  }
}
.select-coins-next_coins span,
.select-coins-next_button {
  margin:20px 0;
  padding:15px 35px;
  background:#fff;
  border-radius:4px;
  cursor:pointer;
  color:#222;
}
.select-coins-next_button {
  float:right;
}
.select-coins-next_coins span {
  position:relative;
  margin:4px 0 0;
  padding:6px 0 6px;
  font-size:0.8em;
  background:none;
  border-bottom:1px dotted rgba(255,255,255,0.1);
  border-radius:0;
  color:#fff;
  -webkit-animation:150ms coinSlideUp;
          animation:150ms coinSlideUp;
  display:block;
}
@-webkit-keyframes coinSlideUp {
  0%{opacity:0;margin-bottom:-20px}
}
@keyframes coinSlideUp {
  0%{opacity:0;margin-bottom:-20px}
}
.select-coins-next_coins span:before,
.select-coins-next_coins span:after {
  position:absolute;
  margin:auto;
  top:0;
  right:5px;
  bottom:0;
  width:2px;
  height:12px;
  background:#fff;
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
.select-coins-next_coins span:hover:before,
.select-coins-next_coins span:hover:after {
  content:'';
}
.select-coins-next_coins span:after {
  -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
}

.load-more {
  margin: 15px 0;
  text-align: center;
  font-size: 0.9em;
  padding: 30px 0;
  border: 1px dotted rgba(255,255,255,0.2);
  border-radius: 4px;
  cursor: pointer;
}


/* Tracker */

.tracker {
  position:relative;
  text-align:center;
  font-size:0px;
  transition: 500ms opacity ease-in-out;
}
.portfolio-view .tracker {
  opacity: 0.01;
}
.tracker_coin {
  position:relative;
  width:100%;
  height:200px;
  margin-bottom:60px;
  display:inline-block;
}
.tracker_coin:last-child {
  margin-bottom:120px;
}

@media (max-width:599px) {
  .tracker_coin.user-data {
    height:320px;
    margin-bottom: -20px;
  }
}

@media (min-width:600px) {
  .tracker_coin {
    width:50%;
    height:40vh;
    min-height:250px;
    margin-bottom:0;
  }
  .tracked-coins--l5 .tracker_coin {
    height:33.333vh;
    min-height:33.333vh;
  }
}
@media (min-width:1000px) {
  .tracker_coin {
    width:33.333%;
    height:50vh;
    min-height:50vh;
  }
}
@media (min-width:1100px) {
  .tracker_coin {
    width:25%;
  }
  .tracked-coins--l5 .tracker_coin {
    width:33.333%;
    height:50vh;
    min-height:50vh;
  }
}
@media (min-width:1250px) {
  .tracker_coin {
    width:20%;
  }
  .tracked-coins--l5 .tracker_coin {
    width:20%;
    height:100vh;
    min-height:100vh;
  }
}
.tracker-wrap {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-size:16px;
  overflow: hidden;
}
.tracker_coin-name,
.tracker_coin-btc,
.tracker_coin-usd,
.tracker_coin-rank,
.tracker_coin-user {
  position:absolute;
  top:45%;
  left:50%;
  width:90%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  font-family:'Montserrat';
  font-size:3em;
  font-weight:700;
}
.tracker_coin-btc,
.tracker_coin-usd,
.tracker_coin-rank,
.tracker_coin-user {
  margin:auto;
  top:105%;
  left:-500px;
  right:-500px;
  width:auto;
  font-size:0.6em;
  -webkit-transform:translate(0,0);
          transform:translate(0,0);
  opacity:0.6;
}
.tracker_coin-usd {
  margin-top:40px;
  font-size:0.4em;
}

.tracker_coin-rank {
  top:auto;
  bottom:100%;
  margin-bottom:20px;
}
.tracker_coin-name span {
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.tracker_coin-user {
  top:auto;
  bottom:190%;
  margin-bottom:20px;
  font-size:0.4em;
  font-weight:400;
  opacity: 0.5;
}

.tracker_settings {
  position:fixed;
  left:0;
  right:0;
  bottom:0;
  padding:15px;
  font-size:16px;
  animation:650ms fadeSettingsIn ease-in-out;
}
@keyframes fadeSettingsIn {
  0%{opacity:0;transform: translate3d(0,25%,0);}
}
.tracker_settings-button,
.tracker_settings-link {
  margin-right:15px;
  color:#fff;
  padding:15px;
  float:left;
  border-radius:4px;
  background:rgba(255,255,255,0.1);
  text-decoration: none;
  cursor:pointer;
  display:none;
}
@media (min-width:900px) {
  .tracker_settings-button,
  .tracker_settings-link {
    display: block;
  }
}
.button-settings {
  display: block;
}
.tracker_settings-link {
  background:none;
  margin-right:0;
}
.tracker_settings-link:hover {
  background:rgba(255,255,255,0.08);
}
.tracker_settings-coinmarket {
  color:#fff;
  padding:15px;
  float:right;
  opacity:0.5;
  display: none;
}
@media (min-width:900px) {
  .tracker_settings-coinmarket {
    display: block;
  }
}
.tracker_settings-coinmarket a {
  color:#fff;
  text-decoration:none;
}


/* Portfolio */

.portfolio {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0);
  overflow-x:hidden;
  overflow-y: auto;
  z-index: 500;
}
.portfolio_close {
  position: absolute;
  top:20px;
  right:20px;
  width:60px;
  height:60px;
  cursor:pointer;
}
.portfolio_close:before,
.portfolio_close:after {
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:40px;
  height:2px;
  background:#fff;
  transform:rotate(45deg);
  content:'';
}
.portfolio_close:after {
  transform:rotate(-45deg);
}
.portfolio_coins {
  margin:120px auto;
  width: 90%;
  max-width: 740px;
  box-sizing: border-box;
}

.portfolio-list_coin {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.portfolio-list_coin-section {
  width:calc(50% - 20px);
  float:left;
}
.portfolio-list_coin-section:last-child {
  margin-left:40px;
}
.portfolio-list_coin-name {
  padding-bottom:10px;
}
.portfolio-list_coin input,
.portfolio-list_coin input:focus {
  width:100%;
  padding:10px;
  font-size:1.1em;
  color:#fff;
  outline:1px solid transparent;
  border:1px solid rgba(255,255,255,0.3);
  background:rgba(255,255,255,0.1);
  box-sizing: border-box;
}

.overall {
  padding-bottom:40px;
  border-bottom: 1px dotted rgba(255,255,255,0.2);
}

.overall_title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}

.overall_row {
    padding:5px 0;
    overflow: hidden;
}

.overall_row > div {
    float:left;
}

.overall .overall_row:nth-child(2) {
  font-family: 'Montserrat';
  font-weight: 700;
  padding-bottom:10px;
}

.overall_coin-name {
  width:60%;
}
.overall_coin-cost {
  width:15%;
}
.overall_coin-value {
  width:15%;
}
.overall_coin-per {
  width:10%;
  text-align: right;
}

.clearfix:after {
  display:table;
  clear:both;
  content:'';
}

/* Loader */

.site-loader,
.site-error {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#222;
  z-index:9999999;
}
.site-loader span,
.site-error span.spinner {
  position:fixed;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:50px;
  height:50px;
  border:4px solid #fff;
  border-right-color:transparent;
  border-radius:100%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-animation:700ms spinLoader infinite linear;
          animation:700ms spinLoader infinite linear;
}
@-webkit-keyframes spinLoader {
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spinLoader {
  100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
.site-error span.spinner {
  top:-45%;
}
@media (min-width:600px) {
  .site-error span.spinner {
    top:-20%;
  }
}
.site-error span.msg {
  position: fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:2.2em;
  width:90%;
  max-width:860px;
  padding-top:100px;
  line-height: 1.4;
  margin:0;
  text-align:center;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
