<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <title>Alt-Track</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400'>
  <link rel="favicon" href="favicon.ico">
  <link rel="stylesheet" href="css/style.css?v1">

  <!-- Search Engine -->
  <meta name="description" content="Simple Minimalistic Alt Coin Tracker - Keep updated will constantly changing prices">
  <meta name="image" content="https://alttrack.github.io/images/meta.jpg">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Alt-Track">
  <meta itemprop="description" content="Simple Minimalistic Alt Coin Tracker - Keep updated will constantly changing prices">
  <meta itemprop="image" content="https://alttrack.github.io/images/meta.jpg">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Alt-Track">
  <meta name="twitter:description" content="Simple Minimalistic Alt Coin Tracker - Keep updated will constantly changing prices">
  <meta name="twitter:site" content="@imlwi">
  <meta name="twitter:creator" content="@imlwi">
  <meta name="twitter:image:src" content="https://alttrack.github.io/images/meta.jpg">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Alt-Track">
  <meta name="og:description" content="Simple Minimalistic Alt Coin Tracker - Keep updated will constantly changing prices">
  <meta name="og:image" content="https://alttrack.github.io/images/meta.jpg">
  <meta name="og:url" content="https://alttrack.github.io">
  <meta name="og:site_name" content="Alt-Track">
  <meta name="og:locale" content="en_GB">
  <meta name="og:type" content="website">

</head>
<body>
  <div class="site-canvas" id="app" v-bind:class="{'coins-selected' : coinsToTrack.length, 'portfolio-view' : portfolio }">

    <!--  Select Coins / Setup  -->
    <transition name="fade">
    <div class="select-coins" v-if="coinData && !setup && loaded">
      <div class="select-coins_title">
        Select the coins you would like to track?
      </div>
      <div class="coin coin-title clearfix">
        <div class="coin_details">
          <div class="coin_c coin_usb">
            <span>USD</span>
          </div>
          <div class="coin_c coin_btc">
            <div class="convert" v-bind:class="{ 'tooltip-view' : !convertTooltipHide }" v-on:click="viewConvert()">
              <div class="convert_name">
                <div class="convert_tooltip">Click here to convert into another currency</div>
                <span>{{convert}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="convert_form" v-if="convertForm">
        <div class="convert_currency" v-for="coin in coinData" v-on:click="changeConvert(coin.symbol)">{{coin.symbol}}</div>
      </div>
      <div class="coin clearfix" v-for="coin in coinData" v-on:click="selectCoin(coin)" v-bind:class="{'selected' : isCoinSelected(coin) }">
        <div class="coin_c coin_name">{{coin.name}}</div>
        <div class="coin_details">
          <div class="coin_c coin_usd">${{coin.price_usd}}</div>
          <transition name="fade">
          <div class="coin_c coin_convert" v-if="convertPrice(coin)">{{convertPrice(coin)}}</div>
          </transition>
        </div>
      </div>
      <div class="load-more" v-on:click="loadMore()">
        Load More Coins
      </div>
    </div>
    </transition>
    <transition name="fade">
    <div class="select-coins-next" v-if="!setup && loaded">
      <div class="select-coins-next_center">
        <div class="select-coins-next_box" v-bind:class="{'active' : coinsToTrack.length }">
          <div class="select-coins-next_coins">
            <span v-for="coin in coinsToTrack" v-on:click="selectCoin(coin)">{{coin.name}}</span>
          </div>
          <div class="select-coins-next_button" v-on:click="track()">
            Next
          </div>
        </div>
      </div>
    </div>
    </transition>

    <!--  Tracker  -->
    <transition name="fade">
    <div class="tracker" v-if="setup && loaded" v-bind:class="{'tracked-coins--l5' : coinsToTrack.length <= 5}">
      <div class="tracker_coin" v-for="coin in updatedTrackedCoins()" v-bind:class="{'user-data' : getCoinQuantity(coin)}">
        <div class="tracker-wrap">
          <div class="tracker_coin-name">
            <span>{{coin.name}}</span>
            <div class="tracker_coin-btc">
              {{convertPrice(coin)}}
            </div>
            <div class="tracker_coin-usd">
              ${{coin.price_usd}}
            </div>
            <div class="tracker_coin-rank">
              #{{coin.rank}} : {{coin.percent_change_1h}}%
            </div>
            <div class="tracker_coin-user" v-if="getCoinQuantity(coin)">
              ${{marketValue(coin)}} : {{valueGain(coin)}}%
            </div>
          </div>
        </div>
      </div>
      <div class="tracker_settings">
        <div class="tracker_settings-button button-settings" v-on:click="setup = false">Settings</div>
        <div class="tracker_settings-button" v-on:click="portfolio = true">My Portfolio</div>
        <a href="https://github.com/AltTrack/alttrack.github.io" target="_blank" class="tracker_settings-link">Github</a>
        <a href="https://twitter.com/home?status=Check%20out%20Alt-Track,%20simple%20online%20%23crypto%20tracker%20https%3A//alttrack.github.io/%20%23bitcoin%20%23ether%20%23litecoin%20%23EOS%20%23STEEM%20%23VergeCoin"
        target="_blank" class="tracker_settings-link">Share on Twitter</a>
        <div class="tracker_settings-coinmarket">All data is provided by <a href="https://coinmarketcap.com">coinmarketcap.com</a>.</div>
      </div>
    </div>
    </transition>

    <transition name="fade">
    <div class="portfolio" v-if="portfolio && setup && loaded">
      <div class="portfolio_close" v-on:click="closePortfolio()"></div>
      <div class="portfolio_coins">
        <div class="portfolio_title">
          My Portfolio
        </div>
        <div class="portfolio-list">
          <div class="portfolio-list_coin clearfix" v-for="coin in coinsToTrack">
            <div class="portfolio-list_coin-section">
              <div class="portfolio-list_coin-name">Your {{coin.name}} Quantity</div>
              <div class="portfolio-list_coin-quantity">
                <input type="number" step="any" v-model="coin.quantity" placeholder="0.0452366">
              </div>
            </div>
            <div class="portfolio-list_coin-section">
              <div class="portfolio-list_coin-name">Your {{coin.name}} Cost (USD)</div>
              <div class="portfolio-list_coin-quantity">
                <input type="number" step="any" v-model="coin.cost" placeholder="42">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </transition>
    <transition name="fade">
    <div class="site-error" v-if="error">
      <span class="spinner"></span>
      <span class="msg">Oops, I cant connect to Coin Market Cap. Attempting to reconnect.</span>
    </div>
    </transition>
    <transition name="fade">
    <div class="site-loader" v-if="!loaded">
      <span></span>
    </div>
    </transition>
  </div>
<script src='https://cdn.jsdelivr.net/npm/vue'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js'></script>
<script src='https://cdn.rawgit.com/nbubna/store/master/dist/store2.min.js'></script>
<script  src="js/index.js?v1"></script>
</body>
</html>
